http:
 
  middlewares:
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
    secure-headers:
      headers:
        stsSeconds: 31536000
        frameDeny: true
        contentTypeNosniff: true
        referrerPolicy: "strict-origin-when-cross-origin"
        browserXssFilter: true
        contentSecurityPolicy: "default-src 'self'"


  services:
    nginx-service:
      loadBalancer:
        servers:
          - url: "http://nginx:80"

tls:
  certificates:
    - certFile: /certs/cert.pem  
      keyFile: /certs/key.pem   